@{
    ViewData["Title"] = "Veiculo";
}

<div class="text-center">
    <h1 class="display-4">LocaMais Locadora</h1>
    <h5 style="margin-top: 20px">Lista de Veiculos</h5>
</div>


<div>

    <button type="button" class="btn btn-secondary">+ Novo veiculo</button>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Placa</th>
                <th scope="col">Ano</th>
                <th scope="col">Cor</th>
                <th scope="col">Editar</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Onix</td>
                <td>Chevrolet</td>
                <td>A0CB454</td>
                <td>2023</td>
                <td>Prata</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Excluir</button>
                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Polo</td>
                <td>Wolksvagem</td>
                <td>E0CB457</td>
                <td>2022</td>
                <td>Branco</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Excluir</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>



    <div>

    <button action="" type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>

    </div>




